@page
@model Case.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Discount Percentage</th>
            <th>Rating</th>
            <th>Stock</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Thumbnail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Title</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.DiscountPercentage</td>
                <td>@product.Rating</td>
                <td>@product.Stock</td>
                <td>@product.Brand</td>
                <td>@product.Category</td>
                <td>@product.Thumbnail</td>
            </tr>
        }
    </tbody>
</table>
